html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disables horizontal scrolling */
    background-color: #3e8b39; /* Sets the background color of the entire page green */
    text-align: center; /* Centers content in the body */
}

.main-image {
    max-width: 100%; /* Set the maximum width of the images to 100% */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures images are treated as block-level elements */
    margin: 0 auto; /* Center images horizontally with no top or bottom margin */
}

.sub-image {
    max-width: 50%; /* Set the maximum width of the sub-images to 50% */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures images are treated as block-level elements */
    margin: 0 auto 15px; /* Center sub-images horizontally with 15px margin at the bottom */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.sub-image:last-child {
    margin-bottom: 30px; /* Add some space between the last sub-image and the button container */
}

.button-container {
    display: flex; /* Use flexbox for the button container */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 20px; /* Add some space above the button container */
}

.button-container a {
    display: inline-block; /* Ensure the link takes only the necessary space */
    margin: 10px; /* Add margin around the links */
}

.button-image {
    width: 75%; /* Set the width of the button images to 75% of their original size */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the images vertically */
}

.disclaimer-space {
    height: 200px; /* Adjust the height as needed */
}

.disclaimer-image {
    max-width: 75%; /* Set the maximum width of the disclaimer image to 75% */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures image is treated as block-level element */
    margin: 20px auto; /* Center disclaimer image horizontally with 20px margin at the top and bottom */
}

.custom-text {
    font-family: "Architects Daughter", cursive; /* Custom font for the text */
    color: #FFFFFF; /* Black color for the text */
    margin-top: 10px; /* Space above the text */
    font-size: 3.5em; /* Size of the text */
}

