html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disables horizontal scrolling */
    background-color: #f0f2f5; /* Sets the background color of the entire page white */
    text-align: center; /* Centers content in the body */
}

.header-image {
    position: fixed; /* Keeps the image at the top and not moving on scroll */
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%; /* Sets the image width to cover the full width of the viewport */
    height: auto; /* Scales the height automatically based on the width */
}

.main-image {
    width: 100%; /* Ensure the image stretches to fill the width of the viewport */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures images are treated as block-level elements */
    margin: 0 auto; /* Center images horizontally with no vertical margins */
}

.sub-image {
    max-width: 50%; /* Set the maximum width of the sub-images to 50% */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures images are treated as block-level elements */
    margin: 0 auto 15px; /* Center sub-images horizontally with 15px margin at the bottom */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.button-container {
    display: flex; /* Use flexbox for the button container */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 25px;
}

.button-container a {
    display: inline-block; /* Ensure the link takes only the necessary space */
    margin: 10px; /* Add margin around the links */
}

.button-image {
    width: 75%; /* Set the width of the button images to 75% of their original size */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the images vertically */
}

.disclaimer-space {
    height: 200px; /* Adjust the height as needed */
}

.disclaimer-image {
    max-width: 75%; /* Set the maximum width of the disclaimer image to 75% */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures image is treated as block-level element */
    margin: 20px auto; /* Center disclaimer image horizontally with 20px margin at the top and bottom */
}

.custom-text {
    font-family: 'Open Sans', sans-serif; /* Now using Open Sans */
    color: #1877f2; /* White color for the text */
    margin-top: 10px; /* Space above the text */
    font-size: 3.0em; /* Size of the text */
}


